<% include head.ejs %>
  <body>
    <h1>De Ceuvel</h1>
    <!-- <p id="index">Behalve zorgen dat onze producten van zo duurzaam mogelijke bronnen komen, proberen we de kringlopen zo goed als we kunnen lokaal te sluiten en er voor te zorgen dat de uiteindelijke bestemming van ons voedsel ook duurzaam is. </p> -->
    <h2>Vul je tafelnummer in om over de herkomst van je bestelling te leren!</h2>
    <form class="" action="/overzicht" method="get">
      <input id="tafelnummer" type="number" name="" value="00" maxlength="99">
      <a href="/overzicht">
        <div class="hexagon">
          <span><p>Ga door</p></span>
        </div>
      </a>
    </form>
  </body>
  
</html>
